.bannerBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000;

  h1 {
    font-size: 36px;
  }
}
